@tailwind base;
@tailwind components;
@tailwind utilities;


.home-img{
   
        background-image: url('../assets/home-img.jpg');
        background-size: cover;
        background-position: center;
        height: 90vh;
}
.text-gradient{
        background: linear-gradient(to right, #204fdc, #c359f0);
    -webkit-background-clip: text;
    color: transparent;
}
.card-container:hover .card-icon{
        display: none;
}
.card-container:hover .arrow-icon{
        display: block;
      
}

.card-container:hover{
        background-color: rgb(171, 28, 28);
        color: white;
        transition: all 0.5s ease-in-out;
        height: 350px;
        cursor: pointer;
}
.card-container:hover .card-title{
        padding-top: 40px;
}
.expert-card:hover {
        background-color: black;
        opacity: 0.5 ;
}

.contact-img{
   
        background-image: url('../assets/Banner.jpg');
        background-size: cover;
        background-position: center;
        height: 90vh;
}
