@tailwind base;
@tailwind components;
@tailwind utilities;


.home-img{
   
        background-image: url('../assets/home-img.jpg');
        background-size: cover;
        background-position: center;
        height: 90vh;
}
.text-gradient{
        background: linear-gradient(to right, #204fdc, #c359f0);
    -webkit-background-clip: text;
    color: transparent;
}